extends layoutBS

block content
  h1.center Create a server:

  .jumbotron
    .input-group.input-group-sm.mb-3
      .input-group-prepend
        span#inputGroup-sizing-sm.input-group-text Room Name:
      input.form-control(type='text' aria-label='Small' aria-describedby='inputGroup-sizing-sm')
    .input-group.input-group-sm.mb-3
      .input-group-prepend
        span#inputGroup-sizing-sm.input-group-text Room Password:
      input.form-control(type='text' aria-label='Small' aria-describedby='inputGroup-sizing-sm')
    .input-group.input-group-sm.mb-3
      .input-group-prepend
        span#inputGroup-sizing-sm.input-group-text Player name:
      input.form-control(type='text' aria-label='Small' aria-describedby='inputGroup-sizing-sm')
    .input-group.input-group-sm.mb-3
      .input-group-prepend
        span#inputGroup-sizing-sm.input-group-text # of Players:
      input.form-control(type='text' aria-label='Small' aria-describedby='inputGroup-sizing-sm')
    .div.text-center
      button.btn.btn-primary(type='button') Confirm
