extends layoutBS

block content
  //h1.display-3.center.hanglow.or=title
  br
  .jumbotron.bb
    p.center.or.larger.blurry-text Welcome to #{title}!
    hr
    p.or.center A fun storybuilding deception game
    .jumbotron.phone
      br
      br
      br
      br
      br
      br
      br
      br
      br    
      br
  h2.or.jumbotron
    br
    p3.or The game consists of at least three players to fill the main roles:
      ol
        li The poet
        li The artist
        li The spy
    br
    p3.or The game starts with the poet writing a short phrase, and the artist drawing a picture. Then the everyone, including the spy, has to write a story. The stories are based on the picture and the phrase, but the spy only receives one or the other.
    hr
    h.or Scoring:
    br
    p1.or Each player gets points for correctly choosing the spy's story and for being chosen as writing the most entertaining story.
    
    
