extends layoutBS

block content
  h1.center Join a server:

  .jumbotron
    form(method="post")
      .input-group.input-group-sm.mb-3
        .input-group-prepend
          span#inputGroup-sizing-sm.input-group-text Room Name:
        input.form-control(type='text' name="roomname" aria-label='Small' aria-describedby='inputGroup-sizing-sm')
      .input-group.input-group-sm.mb-3
        .input-group-prepend
          span#inputGroup-sizing-sm.input-group-text Room Password:
        input.form-control(type='text' name="password" aria-label='Small' aria-describedby='inputGroup-sizing-sm')
      .input-group.input-group-sm.mb-3
        .input-group-prepend
          span#inputGroup-sizing-sm.input-group-text Player name:
        input.form-control(type='text' name="playername" aria-label='Small' aria-describedby='inputGroup-sizing-sm')
      .div.text-center
        input(type="submit")
        //button.btn.btn-primary(type='button') Confirm
