extends layoutBS

block content

  .div.jumbotron
    table(border="5" width="100%")
      thead
        tr
          td P1
        tr
          td P2
        tr
          td P3
        tr
          td P4

  button.btn.btn-primary(type='button') Start Game
