extends layoutBS

block content
  .jumbotron
    h1 Login to Telephone
    p You must have a gmail account to login to Telephone

    a.btn.btn-danger(href="/auth/google")
      span.fa.fa-google-plus  Google
