extends layoutBS

block content
  
  ol
    each game in games
      li
        e games: #{game.roomname} --
        e numplayers: #{game.numplayers} --
        e password:#{game.password} --
        e players:#{game.hostname} --
  hr
  .div.jumbotron
    table(border="5" width="100%")
      thead
        tr
          td hostname
        tr
          td P2
        tr
          td P3
        tr
          td P4
  .text-center
    a.button.btn.btn-primary(type='button' href="/phrasebuilder") Start Game
