body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.center {
    text-align: center;
}

.hanglow {
    padding-top: 1in;
}

.bordered {
    border: 3px solid #FCB326;
    border-radius: 6px;
    color: #EFEFD0;
}

.larger{
    text-align: center;
    font-size: 16pt;
    padding-top: 0.3in;
    column-rule-color: black;
}

.or {
  color: #FF6B35;
}

.pale {
  background-color: #F7C59F;
}

.light {
  background-color: #EFEFD0;
}

.red {
  background-color:red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
  color:white;
}

.div {
    padding-top: 50px;
}
