body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.center {
    text-align: center;
    padding-top: 1in;
}

.larger{
    text-align: center;
    font-size: 16pt;
    padding-top: 0.3in;
    column-rule-color: black;
}

.red {
  background-color:red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
  color:white;
}

.div {
    padding-top: 50px;
}
