body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.blurry-text {
   color: transparent;
   text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.center {
    text-align: center;
}

.hanglow {
    padding-top: 1in;
}

.bordered {
    border: 1px solid #004E89;
    border-radius: 6px;
    color: #EFEFD0;
}

.larger{
    text-align: center;
    font-size: 28pt;
    //padding-top: 0.3in;
    column-rule-color: black;
}

.or {
  color: #131112;
  //background-color: #F7C59F;
}

.pale {
  background-color: #F7C59F;
}

.light {
  background-color: #F7F7FF;
}

.red {
  background-color:red;
}

.green {
  background-color: green;
}

.bb {
  background-color: #279AF1;
  //background: none;
  //color:#004E89;
}

.phone{
  background-image: url(https://i5.walmartimages.ca/images/Large/832/882/6000196832882.jpg?odnBound=460);
  /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blue {
  //background-color: #1A659E;
  color:#004E89;
}

.div {
    padding-top: 50px;
}
